@import "../../styles/mixin.scss";

.main {
  @include flex-center;
  width: 100%;
  position: relative;
}

@mixin arrow {
  display: flex;
  z-index: 10;
  cursor: pointer;
  position: absolute;
}

.arrowRight {
  @include arrow;
  right: 0;
}

.arrowLeft {
  @include arrow;
  left: 0;
}
