@import "../../styles/vars.scss";
@import "../../styles/mixin.scss";

.container {
    @include flex-bet;
    gap: 16px;
    align-items: flex-start;
}

.leftBanner {
    width: 400px;
    height: 368px;
    background: rebeccapurple;
    translate: 0px -80px;
}

.cats {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    flex: 1;
    flex-wrap: wrap;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 4px;

    width: 137.8px;
    height: 140px;

    background: #f2f2f2;
    border-radius: 16px;
}
